<div>
    <h1>Test App</h1>
    <form #loginForm="ngForm" (ngSubmit)="checkLogin()">
        <div class="form-group">
            <label for="name">User: </label>
            <input type="text" name="name" pattern="^.{5,25}$" [(ngModel)]="user.name" #name="ngModel" class="form-control" required placeholder="User name"/>
            <span [hidden]="name.valid || name.pristine" style="color: red;">User name must be greater than 5 characters and less than 25 characters</span>
        </div>
        <div class="form-group">
            <label for="surname">Surname: </label>
            <input type="text" name="surname" pattern="^.{5,25}$" [(ngModel)]="user.surname" #surname="ngModel" class="form-control" placeholder="User surname"/>
            <span [hidden]="surname.valid || surname.pristine" style="color: red;">User surname must be greater than 5 characters and less than 25 characters</span>
        </div>
        <div class="form-group">
            <label for="birthdate">Birthdate: </label>
            <input type="text" name="birthdate" pattern="^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$" [(ngModel)]="user.birthdate" #birthdate="ngModel" class="form-control" placeholder="User birthdate"/>
            <span [hidden]="birthdate.valid || birthdate.pristine" style="color: red;">Date format must be DD/MM/YYYY</span>
        </div>
        <div class="form-group">
            <label for="email">Email: </label>
            <input type="text" name="email" [(ngModel)]="user.email" #email="ngModel" class="form-control" required placeholder="User email"/>
            <span [hidden]="email.valid || email.pristine" style="color: red;">User email required</span>
        </div>
        <div class="form-group">
            <label for="age">Age: </label>
            <input type="number" name="age" pattern="^(?:1[01][0-9]|120|1[8-9]|[2-9][0-9])$" [(ngModel)]="user.age" #age="ngModel" class="form-control" required placeholder="User age"/>
            <span [hidden]="age.valid || age.pristine" style="color: red;">User age must be over 18 years old</span>
        </div>        
        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" name="password" [(ngModel)]="user.password" #password="ngModel" class="form-control" required placeholder="User password"/>
            <span [hidden]="password.valid || password.pristine" style="color: red;">User password required</span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Login</button>
        </div>
    </form>
</div>